<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
			<!--<pattern>%yellow(%date{yyyy-MM-dd HH:mm:ss}) |%highlight(%-5level)  |%blue(%logger:%line) |%black(%msg%n)</pattern>-->
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<!--<charset>utf-8</charset>-->
		</encoder>
	</appender>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/53kf/study-demo/client/client.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/53kf/study-demo/client/client.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>

		<!--日志文件最大的大小-->
		<!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
			<!--<MaxFileSize>10MB</MaxFileSize>-->
		<!--</triggeringPolicy>-->

		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>


	<appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>
		<File>/var/log/53kf/study-demo/error/err.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/53kf/study-demo/error/err.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>