<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zq.bean.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <sql id="base_sql">
        id,name,age,email
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
	    SELECT
	    <include refid="base_sql"/>
	    FROM user ${ew.customSqlSegment}
    </select>

    <delete id="deleteReal">
        delete
        FROM user ${ew.customSqlSegment}
    </delete>
</mapper>
